@import './vars.scss';

#daily {
    grid-column: 1 / -1;
    margin: 2em 10% 2em 10%;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

svg {
    display: block;
    width: 100%;
    // height: 100%;
    overflow: visible;

    line {
        stroke: $bgcol;
        stroke-width: 2px;
    }
}

p.axis_lab span {
    padding: 0 0.25em 0 0.25em;
    &:last-child {
        margin: 0 0 0 1em;

    }
}