@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&subset=cyrillic,cyrillic-ext');

$fontcol: #555555;
$bgcol: #f6f6f6;
$orange: #f77a52;
$dark: #332532;
$blue: #4783b5;
$fontfam: 'Open Sans', sans-serif;


body {
    color: $fontcol;
    background-color: $bgcol; 
    margin: 0;
    font-family: $fontfam;

    * {
        box-sizing: border-box;
        outline: none;
    }
}